In [1]:
#example of tuple
tuple1 =(3,5,7,11,15)
tuple2 =("milk","butter","cocoa")

In [2]:
print(tuple1)
print(tuple2)

(3, 5, 7, 11, 15)
('milk', 'butter', 'cocoa')

In [3]:
#example of list
list1 = [3,5,7,11,15]
list2 =["milk","butter","cocoa"]
print (list1)
print (list2)

[3, 5, 7, 11, 15]
['milk', 'butter', 'cocoa']

In [4]:
#example of set
set1 ={"milk","butter","cocoa"}
set2 ={"egg","vanilla","cake"}
print (set1)
print (set2)

{'milk', 'cocoa', 'butter'}
{'cake', 'vanilla', 'egg'}

In [5]:
#example of boolean
a =["milk","butter","cocoa"]
b =["cocoa","butter","milk"]
c = b
d = ["milk","butter","cocoa"]
print( a==b )
print( c==a )
print (c is a)
print (a==d)

False
False
False
True

In [6]:
#example of a dictionary
person = {
    "name": "lami",
    "age": 21,
    "city": "Paris"
}
print(person["name"])    
print(person["city"])

lami
Paris

In [7]:
#example of strings
a = "Welcome to IT"
b = "Lami"
print(a + ", " + b + "!")

Welcome to IT, Lami!

In [10]:
#example of string
colour = "Blue"
print(colour)
print (type(colour))

Blue
<class 'str'>

In [16]:
#example of integer
date = 25-9
print(date)
print (type(date))

16
<class 'int'>

In [17]:
#example of float
c = 2.0
d = 3.5
total = c + d
print(total)

5.5

In [18]:
#example of complex number
num = 3 + 4j
print(num)              
print(type(num))

(3+4j)
<class 'complex'>